<%= stylesheet_link_tag "show" %>

<div class="container">
  <h1>
    <%= @article.title %>
  </h1>

  <p class="text">
    <%= @article.text %>
  </p>

  <h3>Comments</h3>
  <%= render @article.comments %>

  <h4>Add a comment:</h4>
  <%= render 'comments/form' %>

  <div class="button">
    <%= link_to 'Edit', edit_article_path(@article) %>
  </div>

  <div class="button">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
